body{
    font-family:Arial, sans-serif;
    padding: 20px;
}
.content.box{ 
    width:200px;
    height:100px;
    background-color:lightcoral;
    padding:20px;
    border:5px solid red;
    box-sizing:content-box;
    margin-bottom:20px;
}
.border-box{
    width:200px;
    height:100px;
    background-color:lightblue;
    padding:20px;
    border:5px solid blue;
    box-sizing:border-box;
}
