body {
font-family: Arial, sans-serif;
padding: 20px;
}


.titolo {
position: relative;
top: 20px;
left: 10px;
}

.contenitore-immagine {
position: relative;
display: inline-block;
margin-top: 40px;
}

.immagine {
width: 300px;
height: 200px;
display: block;
}

.paragrafo {
position: absolute;
top: 15px; 
left: 15px; 
background-color: rgba(255, 255, 255, 0.7);
padding: 10px;
margin: 0;
}